main#profile_edit_main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
	main#profile_edit_main h1#profile_edit_title {
		margin: 10px 0 10px 0;
		font-size: 40px;
	}

	main#profile_edit_main form#profile_edit_form {
		width: 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	main#profile_edit_main div.profile_edit_elmt {
		margin: 5px 0 5px 0;
		width: 350px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	main#profile_edit_main div#profile_edit_degrees {
		margin: 5px 0 5px 0;
		width: 350px;
		display: flex;
		flex-direction: column;
	}

		main#profile_edit_main div#profile_edit_degrees textarea {
			resize: vertical;
		}

	main#profile_edit_main div#profile_edit_error {
		padding: 5px;
		font-size: 12px;
	}

	main#profile_edit_main div.profile_edit_submit {
		margin: 5px 0 5px 0;
		width: 350px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	main#profile_edit_main div.profile_edit_submit button, main#profile_edit_main div.profile_edit_submit a {
		font-size: 20px;
		color: #000;
		transition: color 0.25s ease;
	}

	main#profile_edit_main div.profile_edit_submit button:hover, main#profile_edit_main div.profile_edit_submit a:hover {
		transition: color 0.25s ease;
		color: #bbb;
		cursor: pointer;
	}